.loginContainer {
  margin: 0;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  height: calc(100vh - 64px);
}

.loginContainer form {
  min-width: 75%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginContainer form button {
  margin: 15px 0;
  width: 200px;
  border: 3px rgb(200, 200, 200, 0.7) solid;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  color: antiquewhite;
}
.inputField {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.inputField label {
  margin-bottom: 10px;
}
.inputField input {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: large;
}

.inputField input:focus {
  outline-width: 0;
}

.loginContainer .register a {
  text-decoration: none;
  color: inherit;
  font-weight: bolder;
  font-size: larger;
}

.loginContainer .register {
  margin: 30px 0;
}
