.navbar {
  background-color: rgb(10, 10, 10);
  height: 30px;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
}

.navbar .button {
  display: flex;
  align-items: center;
  color: antiquewhite;
  font-weight: bold;
  text-decoration: none;
}

.left {
  display: flex;
}

.left .button {
  margin-right: 2rem;
}
.right {
  display: flex;
  align-items: center;
  height: 100%;
}

.categoriesButton{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.categoriesContainer{
  position: relative;
}

.categoriesButton svg{
  transform: rotate(0deg);
  transition: transform 150ms ease-in-out ;
}
.categoriesButton.active svg{
  transform: rotate(180deg);
}