.navbar {
  background-color: rgb(10, 10, 10);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
}

.navbar .button {
  display: flex;
  align-items: center;
  color: antiquewhite;
  font-weight: bold;
  text-decoration: none;
}

.left {
  display: flex;
}

.left .button {
  margin-right: 2rem;
}
.right {
  display: flex;
}