.card {
  width: 300px;
  margin: 1rem;
  background-color: red;
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.card img {
  width: 100%;
}

.card .movie-info {
  color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.card .overview {
  background-color: white;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.2s ease-in;
}
