.card {
  width: 300px;
  margin: 0.5rem;
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
  border-radius: 5px;
  text-align: left;
  /* border: 1px purple dashed; */
  flex: 0 0 auto;
}

.card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card .movie-info {
  color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}
.card .movie-info h3 {
  margin: 0;
}

.card .overview {
  display: none;
  background-color: white;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.2s ease-in;
}
